.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.center2{
    align-content: center;
}

.bb{
    box-sizing: border-box;
}

.alinhar{
    align-items: center;
}

.row{
    flex-direction: row;
}

.colum{
    flex-direction: column;
}

.space-a{
    justify-content: space-around;
}

.space-b{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.alinhar-end{
    align-self: flex-end;
}

.flex-end{
    justify-content: flex-end;
}

.grow-1{
    flex-grow: 1;
}