:root {
    --clr-default-purple: #6933ff;
    --clr-dark-purple: #4111a6;
    --clr-green-system: #00f0c0;
    --clr-blue-system: #0098f0;
    --clr-red-system: #fa194e;
    --clr-darkred-system: #930b54;
    --clr-grey-iput: #36384a;
    --clr-grey-text: #a3a0a6;
    --clr-grey-2: #474351;
    --clr-background-top: #191a2a;
    --clr-background-bottom: #0d0d1a;
}

h4 {
    display: inline;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
    font-size: clamp(
              1rem,
              4vw + 1rem,
              1.333rem
          );
}
  
h3 {
    display: inline;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
    font-size: clamp(
              1rem,
              4vw + 1rem,
              1.776889rem
          );
}
  
h2 {
    display: inline;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
    font-size: clamp(
              1rem,
              4vw + 1rem,
              2.368593037rem
          );
}
  
h1 {
    display: inline;
    color: white;
    font-weight: 600;
    font-family: "Poppins";
    font-size: clamp(
              1rem,
              4vw + 1rem,
              3.1573345183rem
          );
}

html, body {
    margin: 0;
    padding: 10px;
}
  
body {
    background-color: var(--clr-background-bottom);
    
}

/**/
.relax-audio{
    width: 9rem;
    height: 8rem;
    padding: 0.85rem;
    position: absolute;
    inset: 0rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.relax-audio span{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.relax-audio span::before, .relax-audio span::after{
    
    content: '';
    position: absolute;
    z-index: 200;
    width: 20px;
    height: 2px;
    background-color: white;
    animation: appear .6s cubic-bezier(0.215, 0.610, 0.355, 1);
}



@keyframes appear{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.relax-audio span::before{
    transform-origin: right;
    margin-left: -8.9rem;
}

.relax-audio span::after{
    transform-origin: left;
    margin-left: 8.9rem;
}

.svg--audio{
    width: 6.25rem;
    aspect-ratio: 1;
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(0.85);

}

.svg--audio path{
    
    transform-origin: center;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    
}

.svg--audio:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.clicked{
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(1);
}
.clicked path{
    
    stroke: var(--clr-default-purple);
}

@keyframes teste1{
    to{
        transform: scale(1.2);
    }
}




