/* Geral */
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

div.geral{
    height: 100%;
    width: 100vw;
    position: absolute;
    box-sizing: border-box;
    background:  linear-gradient(180deg, #181928 0%, #12121D 100%);
    padding: 20px;
}

section.content-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



div.inventario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.item-colum{
    width: 100%;
}



div.item-card{
    background-color: rgba(0, 0, 0, 0.2);
    
    color: white;
    width: 100%;
}

div.info h3.titulo{ 
    font-weight: 600;
    text-transform: uppercase;
}

div.info-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.info-item p.info-name{
    margin: 0px 5px 0px 0px;
}

div.info-item p.info-value{
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 300;
}


div.marker-color{
    height: 100%;
    width: 10px;
    background-color: #6833FF;
}

input.normal-button, input.borderless-button{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    letter-spacing: 0.08em;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

input.normal-button{
    background-color: #6833FF;
    margin: 0px 10px 0px 10px;
    width: 120px;
    padding: 13px 20px;
    border-radius: 8px;
}

input.disabled{
    font-weight: normal;
    background-color: #353749;
    color: #A29FA5;
}

input.borderless-button{
    background: none;
}

/* Animações*/
@keyframes fade-in {
    0%{
      opacity: 0;
      top: -20px;
    }
    30%,
    70% {
      opacity: 1;
      top: 0px;
    }
}

@keyframes fade-in-menu {
    0%{
      opacity: 0.3;
      top: -10px;
    }
    30%,
    100% {
      opacity: 1;
      top: 0px;
    }
}

@keyframes fade-in-left {
    0%{
      opacity: 0;
      left: -30px;
    }
    30%,
    100% {
      opacity: 1;
      left: 0px;
    }
}

@keyframes click {
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.click{
    animation: click 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


/* Visualização 1 - Padrão (pequena) */
.view1{
    margin: 10px 0px 10px 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.view1 div.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}

.view1 div.infos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
}

.view1 div.desc, .view1 div.color, .view1 div.buttons{
    display: none;
}

.view1 h3.titulo i{
    display: none;
}

/* Visualização 2 - Clicado (extensa) */
.view2{
    animation: fade-in-menu 1.6s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
    height: fit-content;
    background: #141521;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0px 15px 0px;
    border-radius: 15px;
}

.view2 div.marker-color{
    display: none;
}

.view2 h3, .view2 div.info-item, .view2{
    top: 0px;
    float: left;
    position: relative;
}

.view2 div.info h3{
    animation: fade-in 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.view2 div.info h3 i{
    display: block;
    color: #A29FA5;
    font-size: 20px;
    font-weight: 700;
}

.view2 div.info, .view2 div.infos{
    flex-direction: column;
}

.view2 div.info-item{
    display: flex;
    animation: fade-in-left 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    justify-content: flex-start;
}

.view2 div.infos{
    width: 90%;
}

.view2 div.color{
    display: flex;
    flex-direction: row;
}

.view2 div.color span p.info-value{
    text-decoration: underline #A29FA5;
}

.view2 div.color input[type = 'color']{
    display: none;
}

.view2 div.desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.view2 h4.desc{
    text-align: left;
}

div.desc p.desc{
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #A29FA5;
}

.view2 div.buttons{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}



/* Parte da responsividade */
@media (min-width: 980px){
    div.item-colum{
        width: 45%;
    }
    div.inventario{
        width: 70%;
        flex-direction: row;
    }
}




