@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

///Base
$type-base-size: 1rem;
$level-size: $type-base-size;

///Levels
$type-levels: 4, 3, 2,1;


///Ratios
$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618,
);

///Size-ratio
$type-size-ratio: map.get($type-ratios, "perfectFourth");
$level-unitless: calc($level-size/1rem);
$fluid-reduction: if($level-size > 4, 0.5, 0.33);
$fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
$fluid-min: if($fluid-min > 1, $fluid-min, 1);
$fluid-scaler: ($level-unitless - $fluid-min) + 4vw;

///Fonts
///Poppins
$poppins: 'Poppins';
$regular: normal;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;