$colors:(
    ///Purples from the system
    default-purple: hsla(256, 100%, 60%, 1),
    dark-purple: hsla(259, 81%, 36%, 1),

    ///Blue--Green
    green-system: hsla(168, 100%, 47%, 1),
    blue-system: hsla(202, 100%, 47%, 1),

    ///Red
    red-system: hsla(346, 96%, 54%, 1),
    darkred-system: hsla(328, 86%, 31%, 1),

    ///Greys
    grey-iput: hsla(233, 16%, 25%, 1),
    grey-text: hsla(270, 3%, 64%, 1),
    grey-2: hsla(256, 9%, 29%, 1),

    ///Background colors
    background-top: hsla(235, 26%, 13%, 1),
    background-bottom: hsla(240, 24%, 9%, 1)


);